.section-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 56px;
    /* identical to box height */
    
    text-transform: capitalize;
    
    color: #0D062D;
}