.text-style {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #787486;
}

.input-container{
    flex: 2;
    justify-self: center;
}



.search-container {
    width: 350px;
    height: 30px;
    display: flex;
    flex-direction: row;
    background: #F5F5F5;
    border-radius: 6px;
    gap:"16px";
}

.searchbar-input {
    background: #F5F5F5;
    border: none;
}

.searchbar-input:focus-visible {
    border: none;
    outline: transparent !important;
}

#default-search::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #787486;
}