.low-prior {
    height: 23px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    background-color: rgb(223,168,116,0.2);
    justify-content: center;
    padding: 6px;

}

.high-prior {
    height: 23px;
    display: flex;
    align-items: center;
    background-color: rgb(216,114,125,0.2);
    justify-content: center;
    padding: 6px;
}

.completed-prior {
    height: 23px;
    display: flex;
    align-items: center;
    background-color: rgb(131,194,157,0.2);
    justify-content: center;

    padding: 6px;
}

.low-text-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    /* identical to box height */


    color: #D58D49;

}
.high-text-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    /* identical to box height */


    color: #D8727D;

}
.completed-text-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    /* identical to box height */


    color: #68B266;

}